---
layout: main
---

<p>Here is a non-exhaustive list of things I've worked on or am currently doing. At the bottom of this page will be links to my blog posts.</p>

<p>I currently compete in the Platinum division of the <a href="http://usaco.org">USA Computing Olympiad</a> (top 200 students nationally). </p>
<p>I wrote the <a href="https://darren-yao.gitbook.io/darren-s-blog/usaco-faq">USACO Frequently Asked Questions</a></p>
<p>In addition, I&#39;m the author of the book <em>An Introduction to the USA Computing Olympiad</em>, a one-stop-shop comprehensive training resource for the Bronze and Silver divisions of the USACO. </p>
<ul>
<li><a href="http://darrenyao.com/usacobook/java.pdf">Java Edition</a></li>
<li><a href="http://darrenyao.com/usacobook/cpp.pdf">C++ Edition</a></li>
</ul>

<p>I&#39;m part of the <a href="https://cpinitiative.vercel.app/clubs">Competitive Programming Initiative</a>, which promotes competitive programming among students through resources, classes, outreach, and contests.</p>

<p>Here are the slides for the <a href="http://darrenyao.com/robotics/drivetrains.pdf">Introduction to FRC Drivetrains</a>, which I gave at the WRRF Spark 2020 conference.</p>

<p>I run an outreach organization called <a href="https://nanomath.org">NanoMath</a> which runs math competitions.   </p>

<p>Here&#39;s a few expository mathematical papers I've written on various topics as projects for the <a href="https://eulercircle.com/">Euler Circle</a> math program:</p>
<ul>
<li><a href="http://darrenyao.com/expository-papers/diophantineec.pdf">Solving a Diophantine Equation with Elliptic Curves</a></li>
<li><a href="http://darrenyao.com/expository-papers/div_series.pdf">On Methods of Evaluating Divergent Series</a></li>
<li><a href="http://darrenyao.com/expository-papers/intro_alg_field.pdf">Introduction to Division Algebras over Fields</a></li>
<li><a href="http://darrenyao.com/expository-papers/dedekind_icg.pdf">Dedekind Domains and Ideal Class Groups</a></li>
<li><a href="http://darrenyao.com/expository-papers/inequalities.pdf">Important Inequalities in Real Analysis</a></li>
<li><a href="http://darrenyao.com/expository-papers/covertimes.pdf">Cover Times of Random Walks</a></li>
</ul>

{% include pagination.html %}

{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}
